<div class="container"></div>

<style>
  .container {
    width: 100%;
    height: calc(100vh - var(--nav-height) - var(--topbar-height));
    background-color: #f1f1f1;
    background-image: url(/assets/images/iet-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
</style>
