---
let recruiters: string[] = [];

for (let i = 0; i < 10; i++) {
  recruiters.push(`/assets/images/recruiters/recruiter-${i + 1}.svg`);
}
---

<div class={"container"}>
  <div class={"heading"}>RECRUITERS</div>
  <div class={"description"}>
    MORE THAN 30 COMPANIES VISIT IET-DAVV EVERY YEAR
  </div>
  <div class={"imageContainer"}>
    {
      recruiters.map((image, index) => {
        return (
          <img src={image} alt={`recruiter-${index}`} height={50} width={50} />
        );
      })
    }
  </div>
</div>

<style lang="scss">
  @import "../../../styles/commons.scss";

  .container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-primary-light);
    width: 100%;
    gap: 1rem;
    padding: 1rem 2rem;
    .heading {
      font-size: 3rem;
      line-height: 140%;
      font-weight: 100;
      font-family: serif;
    }
    .description {
      font-size: 1rem;
      color: var(--clr-text-para);
      margin-bottom: 5vh;
    }
    overflow: hidden;
    .imageContainer {
      position: relative;
      top: 0;
      left: 0;
      padding: 1rem 3rem;
      width: 200%;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      gap: 1rem;
      animation: slider 10s linear infinite;
      img {
        width: 70px;
        height: 70px;
        object-fit: contain;
      }
    }
  }

  @keyframes slider {
    0% {
      left: 0%;
    }
    100% {
      left: -40%;
    }
  }
  @media screen and (max-width: 768px) {
    .container {
      .imageContainer {
        width: 300%;
      }
    }
  }
  @media screen and (max-width: 500px) {
    .heading {
      font-size: 2rem !important;
    }
    .description {
      font-size: 0.8rem !important;
    }
    .container {
      .imageContainer {
        width: 500%;
      }
    }
    @keyframes slider {
      0% {
        left: 0%;
      }
      100% {
        left: -160%;
      }
    }
  }
</style>
