---
export interface Props {
  title: string;
}
import Header from "../components/Header/index.astro";
import Footer from "../components/Footer/index.astro";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/reset.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<style is:global lang="scss">
  *,
  *::after,
  *::before {
    font-family: "Manrope", sans-serif;
  }

  :root {
    // --clr-primary: #4643e1;
    --clr-primary: #3b7a9e;
    --clr-primary-light: #e5e5e5;
    --clr-bg-dark: #000000;
    --clr-bg-light: #ffffff;

    --fixed-width: 90%;
    --fixed-width-in: 70%;
    --nav-height: 100px;
    --topbar-height: 40px;

    --clr-text-para: #808080;
    --clr-text-dark: #000000;
  }

  @font-face {
    font-family: "Nephilm";
    src: url("/fonts/Nephilm.otf");
    font-style: normal;
  }

  @font-face {
    font-family: "Nephilm";
    src: url("/fonts/NephilmItalic.otf");
    font-style: italic;
  }

  /* Font sizes yet to be decided */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Nephilm", serif;
  }
  h1 {
    font-size: 4rem;
    line-height: 140%;
  }
  h2 {
    line-height: 140%;
    font-size: 2.5rem;
  }
  h3 {
    line-height: 140%;
    font-size: 2rem;
  }
  h4 {
    line-height: 140%;
    font-size: 1.2rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  p {
    line-height: 26px;
    // color: var(--clr-text-para);
    font-size: 0.9rem;
  }

  @media screen and (max-width: 700px) {
    :root {
      --fixed-width-in: 90%;
    }
  }

  .flexRow {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .flexCol {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .highlightWhite {
    color: white;
    font-weight: 600;
  }
  .maxWidthContainer {
    width: var(--fixed-width);
    max-width: 1450px;
    margin: 0 auto;
  }

  .fadeUp-anim {
    animation: fadeUp 0.3s ease-in-out;
  }

  .fadeUp-anim-staggered {
    animation: fadeUp 0.5s ease-in-out;
    @for $i from 1 through 10 {
      &:nth-of-type(#{$i}) {
        animation-delay: 0.1s * $i;
      }
    }
  }

  .fadeDown-anim {
    animation: fadeDown 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  ul,
  a {
    text-decoration: none;
    list-style: none;
    color: var(--clr-text-dark);
  }

  @keyframes fadeUp {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }

  @keyframes fadeDown {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
</style>
